<tr>
    <!-- Ячейка номера книги -->
    <td>
        {{ book.id }}
    </td>

    <!-- Ячейка названия книги -->
    <td>
        {{ form.title }}
    </td>

    <!-- Ячейка автора книги -->
    <td>
        {{ form.author }}
    </td>

    <!-- Ячейка цены книги -->
    <td>
        {{ form.price }}
    </td>

    <!-- Ячейка состояния -->
    <td>
        <!-- Кнопка "Read/Unread" -->
        <button class="disbtn">
            {% if book.read %}Прочитано{% else %}Не прочитано{% endif %}
        </button>
    </td>

    <!--  Ячейка кнопок действия -->
    <td>
        <!-- Кнопка "Save" -->
        <button type="submit">
            Сохранить
        </button>
        <!-- Кнопка "Cancel" -->
        <button>
            Отмена
        </button>
    </td>
</tr>